/* Mise en forme des documents */

:root {
  scroll-behavior: smooth;
  font-family: sans-serif;
}

::selection {
  background-color: rgba(0, 250, 154, 0.5);
}

.feedback {
  background-color: lightgoldenrodyellow;
  border: solid 2px gold;
  border-radius: 5px;
}


/* Section de navigation */

.nav__btn-retour::before {
  content: "\1F870\0205F";
}

.nav__sep {
  border-left: 2px solid gray;
}


/* Liens */

a {
  text-decoration: underline solid #bfbfbf 2px;
  color: #404040;
  transition-duration: 250ms;
  transition-property: color, text-decoration-color;
}

a:hover {
  color: #00be74;
  text-decoration-color: #b0ffe0;
}


/* Boutons */

.btn {
  cursor: pointer;
  background-color: whitesmoke;
  border-radius: 5px;
  border: 2px solid gainsboro;
  color: #404040;
  text-decoration: none;
  font-size: 0.9em;
  transition-property: background-color, border-color;
  transition-duration: 250ms;
  display: block;
}

.btn:hover {
  color: #404040;
  background-color: #b0ffe0;
  border-color: mediumspringgreen;
}

.btn--filled {
  background-color: mediumspringgreen;
  border-color: #00e08b;
}

.btn--white {
  color: white;
  border-color: white;
  background-color: transparent;
}

.btn--white:hover {
  color: white;
  border-color: white;
  background-color: rgba(255, 255, 255, 0.1);
}

.btn--large {
  font-size: 1.1em;
}

.ic-btn {
  color: #404040;
  border-radius: 50%;
  text-decoration: none;
  transition-property: color, background-color;
  transition-duration: 250ms;
}

.ic-btn:hover {
  color: #00be74;
  background-color: rgba(0, 0, 0, 0.1);
}


/* Tuiles */

.tile {
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 5px 10px;
  transition-duration: 250ms;
  transition-property: box-shadow;
}

.tile:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0 10px 15px;
}



/* ⬆️ En-tête */

.header-magasin {
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.1) 0 5px 10px;
}

.header__logo, .header__btn {
  color: inherit;
  text-decoration: none;
}


/* 🏠 Accueil du site - Landing page */

.landing__header__logo {
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 50%;
}

.recherche-magasin {
  color: black;
}

.landing__milieu {
  background-color: white;
  color: black;
}

  /* Résultats de recherche */

.resultats-magasins {
  background-color: white;
  color: black;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, .25) 0 5px 10px;
}

.resultats-magasins__vide {
  font-style: italic;
}

.resultats-magasins__item {
  transition-duration: 250ms;
  transition-property: background-color;
}

.resultats-magasins__item:hover {
  background-color: rgba(0,0,0,.1);
}

.resultats-magasins a {
  color: inherit;
  text-decoration: none;
}

.resultats-magasins__nom {
  font-weight: bold;
}


/* Landing page et accueil du magasin */

.magasin, .landing {
  background-color: mediumspringgreen;
  color: white;
  background-image: linear-gradient(to bottom, rgba(0,0,0,.4), rgba(0,0,0,.4)), url("/avocaba/img/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


/* 📣 Annonces dans l'accueil du magasin */

.annonce-accueil {
  border: solid gainsboro 2px;
  border-radius: 5px;
}

.annonce-accueil__active {
  background-color: #717171;
}

/* Animation */
.annonce-accueil__fade {
  animation-name: annonce-accueil__fade;
  animation-duration: 4s;
}

@media (prefers-reduced-motion: reduce) {
  .annonce-accueil__fade {
    animation: none;
  }
}

@keyframes annonce-accueil__fade {
  0%    {opacity: 0;}
  12.5% {opacity: 1;}
  87.5% {opacity: 1;}
  100%  {opacity: 0;}
}


/* 📂 Liste des rayons */

.ls-rayons__item a {
  color: black;
  text-decoration: none;
}

.ls-rayons__item span {
  font-weight: bold;
}


/* 📂 Liste des articles */

a.ls-articles__item-content {
  color: inherit;
  text-decoration: none;
}

.ls-articles__nom {
  font-weight: bold;
}



/* 📄 Détails d'un produit */

.details-produit__img-producteur {
  border-radius: 20px;
}

@media (max-width: 768px) {
  .details-produit__img-producteur {
    border-radius: 10px;
  }
}



/* 🧺 Panier / Cabas */

.panier__recapitulatif {
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, .1) 0 5px 10px;
  border-radius: 10px;
}

.panier__article {
  border: solid 2px gainsboro;
  border-radius: 5px;
}

/* Sélecteur de quantité */

input.selection-qte__set {
  font-size: 1em;
  font-weight: bold;
  background-color: transparent;
}


/* 💳 Paiement */

.paiement__titre{
  margin-left: 15px;
}



/* 🧑‍🌾 Page d'un fournisseur */

.fournisseur__banniere {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: whitesmoke;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .fournisseur__nom, .fournisseur__domaine {
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
    text-align: center;
  }
}

.fournisseur__favori {
  font-size: 3em;
  text-align: right;
  color: darkgoldenrod;
}

.fournisseur__description {
  text-align: justify;
}

.fournisseur__cellule {
  border: solid gray 1px ;
}

.fournisseur__etiquette {
  border-top: solid gray 1px;
}


/* ⬇️ Pied de page du site */

.pied-de-page {
  background-color: #F5F5F5;
}

.pied-de-page__avocaba {
  font-weight: bold;
  font-size: 2.5em;
  text-transform: uppercase;
}

.pied-de-page__section-header {
  font-weight: bold;
  font-size: 1.5em;
  text-transform: uppercase;
}

.pied-de-page__newsletter {
  text-align: justify;
}

.pied-de-page__juridique {
  background-color: #e8e8e8;
}



/* 🔒 Pages d'authentification */

.authentification__form hr {
  width: 100px;
  border: none;
  border-top: solid 2px gainsboro;
}

.authentification__form small {
  color: grey;
}

@media screen and (min-width: 426px) and (min-height: 500px) {
  .authentification {
    background-color: mediumspringgreen;
    background-image: url('/avocaba/img/background.jpg');
    background-size: cover;
    background-position: center;
  }

  .authentification__form {
    box-shadow: rgba(0, 0, 0, 0.2) 0 10px 15px;
    border-radius: 10px;
    background-color: white;
  }
}



/* Espace client */

.client__commande {
  color: black;
  text-decoration: none;
}



/* Bouton favoris */

.bouton-favoris span {
  font-size: 50px;
}

.bouton-favoris .star {
  color: #FFC300;
}



/* Mes produits */

.mes-produits__cellule-image {
  text-align: center;
}

.mes-produit__delete {
  font-size: 40px;
}